
* {
  margin: 0;
  padding: 10;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img, fieldset { border:0; }

a {
  text-decoration:none;
}

body {
  font-size:x-small;
  font-family:Arial, Helvetica, sans-serif;
}
body, html { height: 100%; width: 100%;}

img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.accessible {
  display:none;
}

button,
label {
  cursor:pointer;
}

textarea,
input,
button,
legend {
  outline: none;
  font-family:Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-appearance:none;
}

legend {
  display:block;
}

a,
a:visited,
a:link,
a:active {
 //color:#AC2218;
}

a:active{
  background-color:transparent;
}

input[type=checkbox],
input[type=radio],
input[type=checkbox][checked],
input[type=radio][checked]{
    border: 0;
    background-color: transparent;
}

li {
  list-style:none;
}
